Repository unitycatalog/unitycatalog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tdas, @dennyglee, @rameshchandra, @yc-shawn, @jamieknight-db, @cloud-fan

fix CI
  .github/workflows/ucai-integration-tests.yml
Owners: @tdas

again
  .github/workflows/ucai-integration-tests.yml
Owners: @tdas

Add CelerData Integration (#407)
  docs/integrations/unity-catalog-celerdata.md
Owners: @dennyglee

[0.3] Add metastore cli doc (#642)
  docs/usage/cli.md
Owners: @dennyglee

Fix id assertion after updated model comment (#634)
  server/src/test/java/io/unitycatalog/server/base/model/BaseModelCRUDTest.java
Owners: @tdas, @dennyglee, @rameshchandra

Correct unit test
  unitycatalog-ai/integrations/autogen/tests/test_toolkit.py
Owners: @dennyglee

initial commit
  unitycatalog-ai/integrations/autogen/pyproject.toml
  unitycatalog-ai/integrations/autogen/src/__init__.py
  unitycatalog-ai/integrations/autogen/src/ucai_autogen/__init__.py
  unitycatalog-ai/integrations/autogen/src/ucai_autogen/toolkit.py
  unitycatalog-ai/integrations/autogen/tests/__init__.py
  unitycatalog-ai/integrations/autogen/tests/test_toolkit.py
Owners: @dennyglee

update BaseModel
  unitycatalog-ai/integrations/autogen/src/ucai_autogen/toolkit.py
Owners: @dennyglee

adding Readme.MD
  unitycatalog-ai/integrations/autogen/README.md
Owners: @dennyglee

.github/CODEOWNERS:

# This is a CODEOWNERS file for unitycatalog
# See https://help.github.com/articles/about-codeowners/ for more information

* @tdas @dennyglee @rameshchandra

# Builds and tests
build.sbt @tdas
version.sbt @tdas
/build/ @tdas
/project/ @tdas
/.github/ @tdas
/tests/ @tdas
/integration-tests/ @tdas

# Binary scripts and configs
/bin/ @tdas
/etc/ @tdas

# Docs
/docs/ @dennyglee
/mkdocs.yml @dennyglee

# API
/api/ @rameshchandra @tdas

# UI
/ui/ @yc-shawn @jamieknight-db

# AI
/unitycatalog-ai/ @dennyglee

# Spark Connector
/spark-connector/ @tdas @cloud-fan

# Docker
Dockerfile @dennyglee
*.dockerfile @dennyglee

# Clients
/clients/ @tdas
